.filtermodalbtn {
    background-color: var(--secondary);
    color: var(--primary);
    font-size: 12px;
    font-weight: var(--fw-sm);
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: 4px 15px;
    text-align: left;
    transition: var(--transition-1);
    margin-bottom: 10px;
}

.filtermodalbtn:hover,
.filtermodalbtn.btnactive {
    background-color: var(--main-light);
    color: var(--main);
}

.modal-body .container-fluid {
    display: grid;
    grid-template-columns: 30% 1% 68%;
    justify-content: space-between;
}

.modal-body .filter-brdr {
    width: 1px;
    background-color: var(--light-dark);
    height: 100%;
}

.filter-left {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.filter-left a {
    width: 100%;
}

.filterrightct {
    display: none;
}

.filterrightct.ctactive {
    display: block;
}