* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: 100%;
    background: #061700;
}

.ctct::-webkit-outer-spin-button,
.ctct::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ctct {
    -moz-appearance: textfield;
}

.ctct::-ms-clear {
    display: none;
}

.wrapper {
    position: relative;
    width: 800px;
    height: 500px;
    background: #fff;
    /* border: 2px solid #000; */
    border-radius: 10px;
    box-shadow: 0 0 20px #000;
    overflow: hidden;
}

.wrapper .form-box {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.wrapper .form-box.login {
    left: 0;
    padding: 0 50px 0 40px;
}

.row>* {
    padding: 0px;
}

.form-box h2 {
    margin-bottom: 10px;
    position: relative;
    font-size: 30px;
    color: #2C3E50;
    text-align: center;
}

.login .input-box {
    position: relative;
    height: 35px;
    margin: 20px 0px 0px 0px;
    padding: 0px 10px 10px 0px;
}

.register .input-box {
    position: relative;
    height: 35px;
    margin: 15px 0px 0px 0px;
    padding: 0px 10px 10px 0px;
}

.input-box input {
    width: 100%;
    background: transparent;
    color: #000;
    font-size: 12px;
    padding: 5px 0px;
    font-weight: 500;
    border: none;
    outline: none;
    border-bottom: 1px solid #BDBDBD;
    transition: .5s;
    /* padding-right: 23px; */
}

.input-box input:focus,
.input-box input:valid {
    border-bottom-color: #000;
}

.input-box label {
    position: absolute;
    top: 35%;
    left: 0;
    transform: translateY(-50%);
    font-size: 12px;
    font-weight: 500;
    color: #BDBDBD;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
    color: #000;
}

.input-box i {
    position: absolute;
    top: 35%;
    right: 5%;
    transform: translateY(-50%);
    font-size: 15px;
    transition: 0.5s;
    color: #BDBDBD;
}

.input-box input:focus~i,
.input-box input:valid~i {
    color: #000;
}

form .h6 h6 {
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

form .loginbtn button {
    width: 100%;
    padding: 10px 15px;
    background-color: #34A853;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

form .loginbtn button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.wrapper .form-box.login .animation {
    transform: translateX(0);
    transition: 0.7s ease;
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--j));
}

.wrapper.active .form-box.login .animation {
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--i));
}

.wrapper .info-text {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper .info-text.login {
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px;
}

.wrapper .info-text h2 {
    font-size: 36px;
    color: #fff;
    line-height: 1.3;
    text-transform: uppercase;
}

.wrapper .info-text p {
    font-size: 16px;
    color: #fff;
}

.wrapper .info-text.login .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: 0.7s ease;
    transition-delay: calc(.1s * var(--j));
}

.wrapper.active .info-text.login .animation {
    transform: translateX(120px);
    opacity: 0;
    filter: blur(10px);
    transition: 0.7s ease;
    transition-delay: calc(.1s * var(--i));
}

.wrapper .rotate-bg {
    position: absolute;
    top: -4px;
    right: 0;
    width: 850px;
    height: 600px;
    /* background: #000; */
    background: url('/public/assets/images/login_card.png') center center no-repeat;
    background-size: 100%;
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;
    transition: 1.5s ease;
    transition-delay: 1.6s;
}

.wrapper.active .rotate-bg {
    transform: rotate(0) skewY(0);
    transition-delay: 0.5s;
}

.wrapper .form-box.register {
    padding: 0 40px 0 60px;
    right: 0;
}

.wrapper.active .form-box.register {
    pointer-events: auto;
}

.wrapper .form-box.register .animation {
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.wrapper.active .form-box.register .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--i));
}

.wrapper .info-text.register {
    left: 0;
    text-align: left;
    padding: 0 150px 60px 40px;
    pointer-events: none;
}

.wrapper.active .info-text.register {
    pointer-events: auto;
}

.wrapper .info-text.register .animation {
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(10px);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.wrapper.active .info-text.register .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--i));
}

.wrapper .rotate-bg {
    position: absolute;
    top: -4px;
    right: 0;
    width: 850px;
    height: 600px;
    /* background: linear-gradient(180deg, #3A3873 0%, #A666E2 47%, #607DDB 100%); */
    background: linear-gradient(to right, #52c234, #061700);
    background-size: 100%;
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;
    transition: 1.5s ease;
    transition-delay: 1.6s;
}

.wrapper .rotate-bg2 {
    position: absolute;
    top: 100%;
    left: 250px;
    width: 850px;
    height: 700px;
    background: #fff;
    transform: rotate(0) skewY(0);
    transform-origin: bottom left;
    transition: 1.5s ease;
    transition-delay: 0.5s;
}

.wrapper.active .rotate-bg2 {
    transform: rotate(-11deg) skewY(-40deg);
    transition-delay: 1.2s;
}