.table tr:nth-child(odd) td {
    background-color: transparent !important;
}

.offcanvas-body::-webkit-scrollbar {
    display: none;
}

#timelinecards::-webkit-scrollbar {
    display: none;
}

@media screen and (min-width:1350px) {

    /* Timeline */
    #timelinecards {
        height: 95%;
        overflow-y: auto;
        margin-top: 10px;
    }

    .timeline {
        width: 100%;
        position: relative;
    }

    .timeline:before {
        content: '';
        position: absolute;
        top: 1%;
        left: calc(95%);
        bottom: 0;
        width: 2px;
        background: var(--light-dark);
    }

    .timeline:after {
        content: "";
        display: table;
        clear: both;
    }

    .entry {
        clear: both;
        text-align: left;
        position: relative;
    }

    .entry .title {
        margin-bottom: .5em;
        float: left;
        width: 100%;
        text-align: left;
        position: relative;
    }

    .entry .title:before {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        border: 5px solid var(--main);
        background-color: var(--secondary);
        border-radius: 100%;
        top: 0%;
        left: 92%;
        z-index: 99;
    }

    .entry .entrybody {
        margin-top: 40px;
        float: right;
        width: 0%;
        border-radius: 4px;
        padding: 0px 10px 10px 10px;
    }

    .entry .title h3 {
        color: var(--text-primary);
        font-size: 18px;
        font-weight: var(--fw-lg);
    }

    .entry .title h6 {
        color: var(--text-secondary);
        font-size: 12px;
        font-weight: var(--fw-sm);
    }

}

@media screen and (min-width:1098px) and (max-width: 1350px) {

    /* Timeline */
    #timelinecards {
        height: 95%;
        overflow-y: auto;
        margin-top: 10px;
    }

    .timeline {
        width: 100%;
        position: relative;
    }

    .timeline:before {
        content: '';
        position: absolute;
        top: 1%;
        left: calc(95%);
        bottom: 0;
        width: 2px;
        background: var(--light-dark);
    }

    .timeline:after {
        content: "";
        display: table;
        clear: both;
    }

    .entry {
        clear: both;
        text-align: left;
        position: relative;
    }

    .entry .title {
        margin-bottom: .5em;
        float: left;
        width: 100%;
        text-align: left;
        position: relative;
    }

    .entry .title:before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        border: 5px solid var(--main);
        background-color: var(--secondary);
        border-radius: 100%;
        top: 0%;
        left: 92%;
        z-index: 99;
    }

    .entry .entrybody {
        margin-top: 45px;
        float: right;
        width: 0%;
        border-radius: 4px;
        padding: 0px 10px 10px 10px;
    }

    .entry .title h3 {
        color: var(--text-primary);
        font-size: 15px;
        font-weight: var(--fw-lg);
    }

    .entry .title h6 {
        color: var(--text-secondary);
        font-size: 12px;
        font-size: 450;
    }

}

@media screen and (min-width:767px) and (max-width: 1098px) {

    /* Timeline */
    #timelinecards {
        height: 95%;
        overflow-y: auto;
    }

    .timeline {
        width: 100%;
        position: relative;
    }

    .timeline:before {
        content: '';
        position: absolute;
        top: 1%;
        left: calc(97%);
        bottom: 0;
        width: 2px;
        background: #DADADA;
    }

    .timeline:after {
        content: "";
        display: table;
        clear: both;
    }

    .entry {
        clear: both;
        text-align: left;
        position: relative;
    }

    .entry .title {
        margin-bottom: .5em;
        float: left;
        width: 100%;
        text-align: left;
        position: relative;
    }

    .entry .title:before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        border: 5px solid var(--main);
        background-color: var(--secondary);
        border-radius: 100%;
        top: 20%;
        left: 92%;
        z-index: 99;
    }

    .entry .entrybody {
        margin-top: 27px;
        float: right;
        width: 95%;
        border-radius: 4px;
        padding: 0px 10px 10px 10px;
    }

    .entry .title h3 {
        color: var(--text-primary);
        font-size: 12px;
        font-weight: var(--fw-lg);
    }

    .entry .title h6 {
        color: var(--text-secondary);
        font-size: 11px;
        font-size: 450;
    }

}

@media screen and (max-width:767px) {

    /* Timeline */
    #timelinecards {
        height: 95%;
        overflow-y: auto;
    }

    .timeline {
        width: 100%;
        position: relative;
    }

    .timeline:before {
        content: '';
        position: absolute;
        top: 0%;
        left: calc(98%);
        bottom: 0;
        width: 2px;
        background: #DADADA;
    }

    .timeline:after {
        content: "";
        display: table;
        clear: both;
    }

    .entry {
        clear: both;
        text-align: left;
        position: relative;
    }

    .entry .title {
        margin-bottom: .5em;
        float: left;
        width: 100%;
        text-align: left;
        position: relative;
    }

    .entry .title:before {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        border: 5px solid var(--main);
        background-color: var(--secondary);
        border-radius: 100%;
        top: 0%;
        left: 96%;
        z-index: 99;
    }

    .entry .entrybody {
        margin-top: 20px;
        float: right;
        width: 95%;
        border-radius: 4px;
        padding: 0px 10px 10px 10px;
    }
    
    .entry .title h3 {
        color: var(--text-primary);
        font-size: 12px;
        font-weight: var(--fw-lg);
    }

    .entry .title h6 {
        color: var(--text-secondary);
        font-size: 11px;
        font-size: 450;
    }

}