@media screen and (min-width: 1140px) {

    /* Aside */
    aside {
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 0px;
        left: 0px;
        z-index: 999 !important;
        border-right: 1px solid #E6E4F0;
        overflow: hidden scroll;
    }

    aside::-webkit-scrollbar {
        display: none;
    }

    aside .sidebar {
        padding: 10px 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    aside .sidebar .nav {
        border-radius: 12px;
        padding: 5px;
    }

    aside .btnname {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        font-size: 14px;
        font-weight: 400;
    }

    aside .sidebar .righticon i {
        font-size: 12px;
    }

    aside .sidebar .btnname i {
        width: 20%;
        font-size: 17px;
    }

    aside .bxs-dashboard {
        font-size: 18px !important;
    }

    .sidebar ul li a {
        color: var(--aside-li);
        padding-bottom: 5px;
        font-weight: 500;
        font-size: 13px;
    }

    .sidebar .collapse li a:hover,
    .sidebar .collapse li a.active {
        color: var(--primary);
        font-weight: 600;
    }

}

@media screen and (max-width: 1140px) {
    aside {
        display: none;
    }

    .sidebar .righticon i {
        font-size: 12px;
    }

    .sidebar .btnname i {
        width: 20%;
        font-size: 17px;
    }

    .sidebar .bxs-dashboard {
        font-size: 18px !important;
    }

    .sidebar ul li a {
        color: var(--aside-li);
        padding-bottom: 5px;
        font-weight: 400;
        font-size: 13px;
        transition: var(--transition);
    }

    .sidebar ul li .btnname {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        font-size: 14px;
    }

    .sidebar ul li a:hover {
        color: var(--primary);
    }

    .sidebar .collapse li a.active {
        color: var(--primary);
        font-weight: 600;
    }

    .offcanvas {
        background-color: var(--secondary) !important;
    }

}

@media screen and (min-width:767px) and (max-width: 1440px) {
    aside .btnname {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        font-size: 12px;
    }

    aside .sidebar i {
        width: 20%;
        font-size: 15px;
    }

    aside .bxs-dashboard {
        font-size: 18px !important;
    }

    aside .nav img {
        height: 35px !important;
    }
}

@media screen and (max-width: 767px) {

    .offcanvas-body .icons {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        margin-top: 5vh;
    }

    .offcanvas-body .icons .headimg {
        background-color: var(--secondary);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .offcanvas-body .icons i {
        font-size: 25px;
        color: var(--primary);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 20px;
    }

}