:root {
    --main: #34A853;
    --primary: #000;
    --secondary: #fff;
    --bg: #f7f7fc;
    --stages-bg: #f5f7f9;
    --label: #4d4d4d;
    --input-border: #21242730;
    --input-bg: #f9f9f9;
    --tinp-border: #9e9e9e;
    --trow: #ffffff;
    --thead: #9896a3;
    --theadbg: #e6e4f0;
    --tdata: #495057;
    --aside-li: #7f7e85;
    --mandatory: #ff0000;
    --green: #009400;
    --red: #ca0000;
    --box-shadow: 0 0 0.875rem 0 rgba(33, 37, 41, 0.05);
    --transition: 0.15s ease-in-out;
}