.ctct::-webkit-outer-spin-button,
.ctct::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ctct {
    -moz-appearance: textfield;
}

.ctct::-ms-clear {
    display: none;
}

form hr {
    margin: 1rem 0;
    color: var(--tinp-border);
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: 0.5;
}

.form-control,
.form-select {
    background-color: var(--input-bg) !important;
}

.maindiv .sidebodyhead h4 {
    color: var(--primary);
    font-weight: 600;
    margin-bottom: 5px !important;
}

@media screen and (min-width: 1140px) {

    .maindiv {
        padding: 15px;
        border-radius: 5px;
        background-color: var(--secondary);
        border-radius: 5px;
        /* box-shadow: var(--box-shadow); */
    }

    .maindiv .row label {
        color: var(--label);
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .maindiv .row input,
    .maindiv .row select,
    .maindiv .row textarea,
    .maindiv .row .checkdrp {
        border: 1px solid var(--input-border);
        color: var(--primary);
        font-size: 14px;
        font-weight: 500;
    }
    
    .maindiv .row select option {
        font-weight: 600;
    }

    .tble-dpd .checkdrp {
        font-size: 13px !important;
        padding: 5px !important;
    }

    .maindiv .row .dropdown-menu,
    .tble-dpd .dropdown-menu {
        color: var(--primary);
        border: 1px solid var(--input-border);
    }

    .dropdown-menu label {
        font-size: 10px !important;
        font-weight: 500 !important;
        color: var(--main) !important;
    }

    .inpflex {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid var(--input-border);
        border-radius: 0.375rem;
    }

    .inpflex input {
        width: 85%;
        border-right: 1px solid var(--input-border) !important;
        border-radius: 0.375rem 0px 0px 0.375rem;
    }

    .inpflex i {
        width: 15%;
        text-align: center;
    }

    .inpflex select {
        width: 15%;
        text-align: left;
        background-color: var(--secondary) !important;
    }

    /* File Upload */
    .custom-file-upload {
        height: 150px;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: space-between;
        gap: 20px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border: 2px dashed #cacaca;
        padding: 1.5rem;
        border-radius: 10px;
        box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
    }

    .custom-file-upload .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .custom-file-upload .icon svg {
        height: 50px;
        fill: var(--label);
    }

    .custom-file-upload .text {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .custom-file-upload .text span {
        font-weight: 400;
        color: var(--label);
    }

    .custom-file-upload input {
        display: none;
    }

}

@media screen and (min-width: 767px) and (max-width: 1140px) {

    .maindiv {
        padding: 10px;
        border-radius: 5px;
        background-color: var(--secondary);
        border: 1px solid #eee;
        border-radius: 5px;
        /* box-shadow: var(--box-shadow); */
    }

    .maindiv .row label {
        color: var(--label);
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .maindiv .row input,
    .maindiv .row select,
    .maindiv .row textarea,
    .maindiv .row .checkdrp {
        border: 1px solid var(--input-border);
        color: var(--primary);
        font-size: 13px;
        font-weight: 500;
    }

    .maindiv .row select option {
        font-weight: 600;
    }

    .tble-dpd .checkdrp {
        font-size: 12px !important;
        padding: 5px !important;
    }

    .maindiv .row .dropdown-menu,
    .tble-dpd .dropdown-menu {
        color: var(--primary);
        border: 1px solid var(--input-border);
    }

    .dropdown-menu label {
        font-size: 9px !important;
        font-weight: 500 !important;
        color: var(--main) !important;
    }

    .inpflex {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid var(--input-border);
        border-radius: 0.375rem;
    }

    .inpflex input {
        width: 85%;
        border-right: 1px solid var(--input-border) !important;
        border-radius: 0.375rem 0px 0px 0.375rem;
    }

    .inpflex i {
        width: 15%;
        text-align: center;
    }

    .inpflex select {
        width: 15%;
        text-align: left;
        background-color: var(--secondary) !important;
    }

    /* File Upload */
    .custom-file-upload {
        height: 150px;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: space-between;
        gap: 20px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border: 2px dashed #cacaca;
        padding: 1.5rem;
        border-radius: 10px;
        box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
    }

    .custom-file-upload .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .custom-file-upload .icon svg {
        height: 50px;
        fill: rgba(75, 85, 99, 1);
    }

    .custom-file-upload .text {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .custom-file-upload .text span {
        font-weight: 400;
        color: rgba(75, 85, 99, 1);
    }

    .custom-file-upload input {
        display: none;
    }

}

@media screen and (max-width: 767px) {

    .maindiv {
        padding: 10px;
        border-radius: 5px;
        background-color: var(--secondary);
        border: 1px solid #eee;
        border-radius: 5px;
        /* box-shadow: var(--box-shadow); */
    }

    .maindiv .row label {
        color: var(--label);
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .maindiv .row input,
    .maindiv .row select,
    .maindiv .row textarea,
    .maindiv .row .checkdrp {
        border: 1px solid var(--input-border);
        color: var(--primary);
        font-size: 13px;
        font-weight: 500;
    }

    form .inputs {
        display: block;
        margin: auto;
    }

    .tble-dpd .checkdrp {
        font-size: 11px !important;
        padding: 5px !important;
    }

    .maindiv .row .dropdown-menu,
    .tble-dpd .dropdown-menu {
        color: var(--primary);
        border: 1px solid var(--input-border);
    }

    .dropdown-menu label {
        font-size: 10px !important;
        font-weight: 500 !important;
        color: var(--main) !important;
    }

    .inpflex {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid var(--input-border);
        border-radius: 0.375rem;
    }

    .inpflex input {
        width: 85%;
        border-right: 1px solid #000 !important;
        border-radius: 0.375rem 0px 0px 0.375rem;
    }

    .inpflex i {
        width: 15%;
        text-align: center;
    }

    .inpflex select {
        width: 15%;
        text-align: left;
        background-color: var(--secondary) !important;
    }

    /* File Upload */
    .custom-file-upload {
        height: 150px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: space-between;
        gap: 20px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border: 2px dashed #cacaca;
        padding: 1.5rem;
        border-radius: 10px;
        box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
    }

    .custom-file-upload .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .custom-file-upload .icon svg {
        height: 50px;
        fill: var(--label);
    }

    .custom-file-upload .text {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .custom-file-upload .text span {
        font-weight: 400;
        color: var(--label);
    }

    .custom-file-upload input {
        display: none;
    }

}