/* Laptop View 1 */
@media screen and (min-width: 1140px) {

    /* Navbar */
    .navbar {
        width: 100%;
        background-color: var(--secondary);
        display: flex;
        justify-content: space-between;
        padding: 10px 50px;
        position: sticky;
        top: 0px;
        left: 0px;
        height: 75px;
        z-index: 100 !important;
        border-bottom: 1px solid #E6E4F0;
    }

    .navbar .icons {
        display: flex;
        justify-content: end;
        align-items: center;
        column-gap: 15px;
    }

    .navbar .navbar-end {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }

    .navbar .icons .headimg {
        background-color: var(--secondary);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar .icons .user,
    .offcanvas-header .user {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar .icons .userimg,
    .offcanvas-header .userimg {
        z-index: 10;
    }

    .navbar .icons .userdiv,
    .offcanvas-header .userdiv {
        font-size: 10px;
        margin-left: -10px !important;
        z-index: 5;
        color: var(--primary);
        border: 1px solid var(--input-border);
        box-shadow: var(--box-shadow);
        text-transform: capitalize;
    }

    .navbar .icons i {
        font-size: 15px;
        color: var(--primary);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #navigation-icon,
    .navlogo {
        display: none;
    }

    .navbar .inputs select {
        border: 1px solid var(--input-border);
        background-color: var(--secondary);
        color: var(--primary);
        font-size: 12px;
        font-weight: 500;
    }

    /* User Dropdown */
    #user {
        position: relative !important;
        cursor: pointer;
    }

    #user .maindropdown {
        position: absolute;
        top: 100%;
        right: 0%;
        background-color: var(--secondary);
        border: 1px solid var(--border);
        box-shadow: var(--box-shadow);
        border-radius: 5px;
        width: 300px;
        padding: 20px;
        display: none;
    }

    #user .maindropdown ul {
        margin-top: 20px;
        margin-bottom: 0px;
    }

    #user .dropdownimg {
        width: 100%;
        display: grid;
        grid-template-columns: 25% 70%;
        align-items: center;
        justify-content: space-between;
    }

    #user .dropdownimg img {
        border-radius: 5px;
        object-fit: cover;
        object-position: center;
    }

    #user .dropdownimg h5 {
        color: var(--primary);
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    #user .dropdownimg h6 {
        color: var(--label);
        font-size: 12px;
        font-weight: 450;
        margin-bottom: 0px;
    }

    #user .maindropdown li a i {
        padding: 0px !important;
    }

    #user .maindropdown li a span {
        color: var(--label);
        font-size: 13px;
        font-weight: 450;
        transition: var(--transition);
    }

    #user .maindropdown li a:hover span,
    #user .maindropdown li a span:hover {
        color: var(--main);
    }

}

/* Tablet View 1 */
@media screen and (min-width:767px) and (max-width:1140px) {

    /* Navbar */
    .navbar {
        width: 100%;
        background-color: var(--secondary);
        display: block !important;
        justify-content: space-between;
        padding: 10px 50px;
        position: sticky;
        top: 0px;
        left: 0px;
        height: 75px;
        z-index: 999 !important;
    }

    .navbar .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar .navbar-end {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }

    .navbar .icons .headimg {
        background-color: var(--secondary);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar .icons .user,
    .offcanvas-header .user {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar .icons .userimg,
    .offcanvas-header .userimg {
        z-index: 10;
    }

    .navbar .icons .userdiv,
    .offcanvas-header .userdiv  {
        font-size: 10px;
        margin-left: -10px !important;
        z-index: 5;
        color: var(--primary);
        border: 1px solid var(--input-border);
        box-shadow: var(--box-shadow);
        text-transform: capitalize;
    }

    .navbar .icons i {
        font-size: 15px;
        color: var(--primary);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 20px;
    }

    .responsive_button,
    #navigation-button,
    .navlogo {
        background-color: transparent;
    }

    .navbar .inputs select {
        border: 1px solid var(--input-border);
        background-color: var(--secondary);
        color: var(--primary);
        font-size: 14px;
        font-weight: 500;
    }

    /* User Dropdown */
    #user {
        position: relative !important;
        cursor: pointer;
    }

    #user .maindropdown {
        position: absolute;
        top: 100%;
        right: 0%;
        background-color: var(--secondary);
        border: 1px solid var(--border);
        box-shadow: var(--box-shadow);
        border-radius: 5px;
        width: 275px;
        padding: 15px;
        display: none;
    }

    #user .maindropdown ul {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    #user .dropdownimg {
        width: 100%;
        display: grid;
        grid-template-columns: 25% 70%;
        align-items: center;
        justify-content: space-between;
    }

    #user .dropdownimg img {
        height: 50px;
        border-radius: 5px;
        object-fit: cover;
        object-position: center;
    }

    #user .dropdownimg h5 {
        color: var(--primary);
        font-size: 14px;
        font-weight: 500;
        margin-top: 5px;
    }

    #user .dropdownimg h6 {
        color: var(--label);
        font-size: 12px;
        font-weight: 450;
        margin-top: 0px;
    }

    #user .maindropdown li a i {
        padding: 0px !important;
    }

    #user .maindropdown li a span {
        color: var(--label);
        font-size: 12px;
        font-weight: 450;
        transition: var(--transition);
    }

    #user .maindropdown li a:hover span,
    #user .maindropdown li a span:hover {
        color: var(--main);
    }

}

/* Tablet View 2 */
@media screen and (max-width:767px) {

    /* Navbar */
    .navbar {
        width: 100%;
        background-color: var(--secondary);
        display: block !important;
        padding: 10px 0px !important;
        position: sticky;
        top: 0px;
        left: 0px;
        border-bottom: 1px solid var(--secondary);
        z-index: 999 !important;
    }

    .navbar .navlogo img {
        height: 30px;
    }

    .navbar .icons {
        width: 98%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }

    .navbar .user {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .navbar .userimg {
        z-index: 10;
        height: 38px;
    }

    .navbar .user .userdiv {
        font-size: 9px;
        margin-left: -10px !important;
        z-index: 5;
        color: var(--primary);
        border: 1px solid var(--input-border);
        box-shadow: var(--box-shadow);
        text-transform: capitalize;
    }

    .navbar .icons i {
        font-size: 15px;
        color: var(--primary);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 8px;
    }

    .responsive_button,
    #navigation-button,
    .navlogo {
        background-color: transparent;
    }

    .navbar .inputs select {
        border: 1px solid var(--input-border);
        background-color: var(--secondary);
        color: var(--primary);
        font-size: 14px;
        font-weight: 500;
    }

    /* User Dropdown */
    #user {
        position: relative !important;
        cursor: pointer;
    }

    #user .maindropdown {
        position: absolute;
        top: 100%;
        right: 0% !important;
        background-color: var(--secondary);
        border: 1px solid var(--border);
        box-shadow: var(--box-shadow);
        border-radius: 5px;
        width: 300px;
        padding: 10px;
        display: none;
    }

    #user .maindropdown ul {
        margin-top: 15px;
        margin-bottom: 0px;
    }

    #user .dropdownimg {
        width: 100%;
        display: grid;
        grid-template-columns: 25% 70%;
        align-items: center;
        justify-content: space-between;
    }

    #user .dropdownimg img {
        height: 60px;
        border-radius: 5px;
        object-fit: cover;
        object-position: center;
        position: relative;
    }

    #user .dropdownimg h5 {
        color: var(--primary);
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    #user .dropdownimg h6 {
        color: var(--label);
        font-size: 13px;
        font-weight: 450;
        margin-bottom: 0px;
    }

    #user .maindropdown li a i {
        padding: 0px !important;
    }

    #user .maindropdown li a span {
        color: var(--primary);
        font-size: 12px;
        font-weight: 450;
        transition: var(--transition);
    }

    #user .maindropdown li a:hover span,
    #user .maindropdown li a span:hover {
        color: var(--main);
    }

}