@media screen and (min-width: 1440px) {
    .ordertimeline .timeline {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .ordertimeline .li {
        transition: all 200ms ease-in;
    }

    .ordertimeline .timestamp {
        margin-bottom: 10px;
        padding: 0px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ordertimeline .timestamp .author {
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        color: var(--aside-li);
    }

    .ordertimeline .li.complete .author {
        color: var(--main);
    }

    .ordertimeline .status {
        padding: 15px 15px;
        display: flex;
        justify-content: center;
        border-top: 2px solid #D6DCE0;
        position: relative;
        transition: all 200ms ease-in;
    }

    .ordertimeline h4 {
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        color: var(--primary);
    }

    .ordertimeline h4:before {
        content: '';
        width: 15px;
        height: 15px;
        background-color: var(--label);
        border-radius: 50%;
        border: 2px solid var(--label);
        position: absolute;
        top: -15%;
        left: 45%;
        transition: all 200ms ease-in;
    }

    .ordertimeline .li.complete h4:before {
        content: '';
        width: 15px;
        height: 15px;
        background-color: var(--main);
        border-radius: 50%;
        border: 2px solid var(--main);
        position: absolute;
        top: -15%;
        left: 45%;
        transition: all 200ms ease-in;
    }

    .ordertimeline .li.complete .status {
        border-top: 2px solid var(--main);
    }

    .ordertimeline .li complete .status:before {
        background-color: var(--main);
        border: none;
        transition: all 200ms ease-in;
    }

    @media (min-device-width: 320px) and (max-device-width: 700px) {
        .ordertimeline .timeline {
            list-style-type: none;
            display: block;
        }

        .ordertimeline .li {
            transition: all 200ms ease-in;
            display: flex;
            width: inherit;
        }

        .ordertimeline .timestamp {
            width: 100px;
        }

        .ordertimeline .status:before {
            left: -8%;
            top: 30%;
            transition: all 200ms ease-in;
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .ordertimeline .timeline {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .ordertimeline .li {
        transition: all 200ms ease-in;
    }

    .ordertimeline .timestamp {
        margin-bottom: 10px;
        padding: 0px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ordertimeline .timestamp .author {
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        color: var(--aside-li);
    }

    .ordertimeline .li.complete .author {
        color: var(--main);
    }

    .ordertimeline .status {
        padding: 15px 15px;
        display: flex;
        justify-content: center;
        border-top: 2px solid #D6DCE0;
        position: relative;
        transition: all 200ms ease-in;
    }

    .ordertimeline h4 {
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        color: var(--primary);
    }

    .ordertimeline h4:before {
        content: '';
        width: 10px;
        height: 10px;
        background-color: var(--label);
        border-radius: 50%;
        border: 2px solid var(--label);
        position: absolute;
        top: -11%;
        left: 45%;
        transition: all 200ms ease-in;
    }

    .ordertimeline .li.complete h4:before {
        content: '';
        width: 15px;
        height: 15px;
        background-color: var(--main);
        border-radius: 50%;
        border: 2px solid var(--main);
        position: absolute;
        top: -15%;
        left: 45%;
        transition: all 200ms ease-in;
    }

    .ordertimeline .li.complete .status {
        border-top: 2px solid var(--main);
    }

    .ordertimeline .li complete .status:before {
        background-color: var(--main);
        border: none;
        transition: all 200ms ease-in;
    }

    @media (min-device-width: 320px) and (max-device-width: 700px) {
        .ordertimeline .timeline {
            list-style-type: none;
            display: block;
        }

        .ordertimeline .li {
            transition: all 200ms ease-in;
            display: flex;
            width: inherit;
        }

        .ordertimeline .timestamp {
            width: 100px;
        }

        .ordertimeline .status:before {
            left: -8%;
            top: 30%;
            transition: all 200ms ease-in;
        }
    }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    .ordertimeline .timeline {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .ordertimeline .li {
        transition: all 200ms ease-in;
    }

    .ordertimeline .timestamp {
        margin-bottom: 10px;
        padding: 0px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ordertimeline .timestamp .author {
        font-size: 8px;
        font-weight: 500;
        text-align: center;
        color: var(--aside-li);
    }

    .ordertimeline .li.complete .author {
        color: var(--main);
    }

    .ordertimeline .status {
        padding: 15px 15px;
        display: flex;
        justify-content: center;
        border-top: 2px solid #D6DCE0;
        position: relative;
        transition: all 200ms ease-in;
    }

    .ordertimeline h4 {
        font-size: 8px;
        font-weight: 600;
        text-align: center;
        color: var(--primary);
    }

    .ordertimeline h4:before {
        content: '';
        width: 10px;
        height: 10px;
        background-color: var(--label);
        border-radius: 50%;
        border: 2px solid var(--label);
        position: absolute;
        top: -11%;
        left: 45%;
        transition: all 200ms ease-in;
    }

    .ordertimeline .li.complete h4:before {
        content: '';
        width: 10px;
        height: 10px;
        background-color: var(--main);
        border-radius: 50%;
        border: 2px solid var(--main);
        position: absolute;
        top: -15%;
        left: 45%;
        transition: all 200ms ease-in;
    }

    .ordertimeline .li.complete .status {
        border-top: 2px solid var(--main);
    }

    .ordertimeline .li complete .status:before {
        background-color: var(--main);
        border: none;
        transition: all 200ms ease-in;
    }

    @media (min-device-width: 320px) and (max-device-width: 700px) {
        .ordertimeline .timeline {
            list-style-type: none;
            display: block;
        }

        .ordertimeline .li {
            transition: all 200ms ease-in;
            display: flex;
            width: inherit;
        }

        .ordertimeline .timestamp {
            width: 100px;
        }

        .ordertimeline .status:before {
            left: -8%;
            top: 30%;
            transition: all 200ms ease-in;
        }
    }
}

@media screen and (max-width: 767px) {
    .ordertimeline .timeline {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .ordertimeline .li {
        transition: all 200ms ease-in;
    }

    .ordertimeline .timestamp {
        margin-bottom: 10px;
        padding: 0px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ordertimeline .timestamp .author {
        font-size: 8px;
        font-weight: 500;
        text-align: center;
        color: var(--aside-li);
    }

    .ordertimeline .li.complete .author {
        color: var(--main);
    }

    .ordertimeline .status {
        padding: 15px 15px;
        display: flex;
        justify-content: center;
        border-top: 2px solid #D6DCE0;
        position: relative;
        transition: all 200ms ease-in;
    }

    .ordertimeline h4 {
        font-size: 8px;
        font-weight: 600;
        text-align: center;
        color: var(--primary);
    }

    .ordertimeline h4:before {
        content: '';
        width: 10px;
        height: 10px;
        background-color: var(--label);
        border-radius: 50%;
        border: 2px solid var(--label);
        position: absolute;
        top: -11%;
        left: 45%;
        transition: all 200ms ease-in;
    }

    .ordertimeline .li.complete h4:before {
        content: '';
        width: 10px;
        height: 10px;
        background-color: var(--main);
        border-radius: 50%;
        border: 2px solid var(--main);
        position: absolute;
        top: -15%;
        left: 45%;
        transition: all 200ms ease-in;
    }

    .ordertimeline .li.complete .status {
        border-top: 2px solid var(--main);
    }

    .ordertimeline .li complete .status:before {
        background-color: var(--main);
        border: none;
        transition: all 200ms ease-in;
    }

    @media (min-device-width: 320px) and (max-device-width: 700px) {
        .ordertimeline .timeline {
            list-style-type: none;
            display: block;
        }

        .ordertimeline .li {
            transition: all 200ms ease-in;
            display: flex;
            width: inherit;
        }

        .ordertimeline .timestamp {
            width: 100px;
        }

        .ordertimeline .status:before {
            left: -8%;
            top: 30%;
            transition: all 200ms ease-in;
        }
    }
}