.accordion-body::-webkit-scrollbar {
    display: none;
}

@media screen and (min-width: 1350px) {

    .mainbdy {
        display: grid;
        grid-template-columns: 27% 72%;
        justify-content: space-between;
        /* gap: 10px; */
        margin-top: 10px;
    }

    .row {
        --bs-gutter-x: 0rem;
    }

    .maincard {
        position: relative;
        background-color: var(--secondary);
        padding: 15px 10px 0px 10px;
        border-radius: 6px;
    }

    .lefthead {
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
    }

    .contentleft {
        border-right: 1px solid #eee;
    }

    .cardshead {
        margin-bottom: 15px;
    }

    .cardsh5 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cardsh5 h5 {
        font-size: 14px;
        font-weight: 500;
        color: var(--primary);
        text-decoration: 1px solid var(--aside-li) underline;
    }

    .cardsh5 a {
        font-size: 14px;
        color: var(--label);
        transition: var(--transition);
    }

    .cardsh5 a:hover {
        color: var(--primary);
    }

    .cards .row .profileimg {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .leftcard .col-sm-12 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .assigndetails .col-sm-12 img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .cards .row .col-sm-12 h6 {
        font-size: 13px;
        font-weight: 500;
        color: var(--thead);
    }

    .cards .row .col-sm-12 h5 {
        font-size: 13px;
        font-weight: 500;
        color: var(--primary);
    }

    /* Tabs */
    .proftabs {
        margin-top: 10px;
    }

    .nav-tabs {
        border: none;
    }

    .tab-content {
        margin-top: 20px;
    }

    .profilelisthead {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .profileleft {
        background-color: var(--theadbg);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2px;
        padding: 3px;
        border-radius: 5px;
        width: 45%;
    }

    .profileright {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .profileright input {
        width: 65%;
        margin-left: 0px;
        height: 32px;
        font-size: 12px;
        padding: 5px 10px;
        border: 1px solid #eee;
        border-radius: 5px;
        background-color: var(--secondary);
        color: var(--primary);
        box-shadow: var(--box-shadow);
    }

    /* Project Porfile CSS */
    .left-content {
        border-right: 1px solid var(--input-border);
    }

    .left-content .table .lefthead {
        color: var(--label);
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 5px;
        text-transform: uppercase;
    }

    .left-content .table .leftcntnt {
        color: var(--primary);
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    /* Accordion */
    .accordion-item {
        border: none;
        background-color: transparent;
        color: var(--primary);
    }

}

@media screen and (min-width: 1140px) and (max-width: 1350px) {

    .mainbdy {
        display: grid;
        grid-template-columns: 27% 72%;
        justify-content: space-between;
        /* gap: 10px; */
        margin-top: 10px;
    }

    .row {
        --bs-gutter-x: 0rem;
    }

    .maincard {
        position: relative;
        background-color: var(--secondary);
        padding: 8px 8px 0px 8px;
        border-radius: 6px;
    }

    .lefthead {
        border-bottom: 1px solid #eee;
        padding-bottom: 7px;
    }

    .contentleft {
        border-right: 1px solid #eee;
    }

    .cardshead {
        margin-bottom: 15px;
    }

    .cardsh5 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cardsh5 h5 {
        font-size: 16px;
        font-weight: 600;
        color: var(--primary);
        text-decoration: 1px solid var(--aside-li) underline;
    }

    .cardsh5 a {
        font-size: 16px;
        color: var(--label);
        transition: var(--transition);
    }

    .cardsh5 a:hover {
        color: var(--primary);
    }

    .cards .row .profileimg {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .leftcard .col-sm-12 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .assigndetails .col-sm-12 img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .cards .row .col-sm-12 h6 {
        font-size: 11px;
        font-weight: 500;
        color: var(--thead);
    }

    .cards .row .col-sm-12 h5 {
        font-size: 11px;
        font-weight: 500;
        color: var(--primary);
    }

    /* Tabs */
    .proftabs {
        margin-top: 10px;
    }

    .nav-tabs {
        border: none;
    }

    .tab-content {
        margin-top: 10px;
    }

    .profilelisthead {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .profileleft {
        background-color: var(--theadbg);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2px;
        padding: 3px;
        border-radius: 5px;
        width: 50%;
    }

    .profileright {
        display: flex;
        align-items: center;
        gap: 3px;
    }

    .profileright input {
        width: 65%;
        margin-left: 0px;
        height: 32px;
        font-size: 12px;
        padding: 5px 10px;
        border: 1px solid #eee;
        border-radius: 5px;
        background-color: var(--secondary);
        color: var(--primary);
        box-shadow: var(--box-shadow);
    }

    /* Project Porfile CSS */
    .left-content {
        border-right: 1px solid var(--input-border);
    }

    .left-content .table .lefthead {
        color: var(--label);
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 5px;
        text-transform: uppercase;
    }

    .left-content .table .leftcntnt {
        color: var(--primary);
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    /* Accordion */
    .accordion-item {
        border: none;
        background-color: transparent;
        color: var(--primary);
    }

    .accordion-body {
        width: 100%;
        overflow: auto;
    }

}

@media screen and (min-width: 1098px) and (max-width: 1140px) {

    .mainbdy {
        display: grid;
        grid-template-columns: 25% 74%;
        justify-content: space-between;
        /* gap: 10px; */
        margin-top: 10px;
    }

    .row {
        --bs-gutter-x: 0rem;
    }

    .maincard {
        position: relative;
        background-color: var(--secondary);
        padding: 10px 10px 0px 10px;
        border-radius: 6px;
    }

    .lefthead {
        border-bottom: 1px solid #eee;
        padding-bottom: 7px;
    }

    .contentleft {
        border-right: 1px solid #eee;
    }

    .cardshead {
        margin-bottom: 15px;
    }

    .cardsh5 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cardsh5 h5 {
        font-size: 16px;
        font-weight: 600;
        color: var(--primary);
        text-decoration: 1px solid var(--aside-li) underline;
    }

    .cardsh5 a {
        font-size: 16px;
        color: var(--label);
        transition: var(--transition);
    }

    .cardsh5 a:hover {
        color: var(--primary);
    }

    .cards .row .profileimg {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .leftcard .col-sm-12 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .assigndetails .col-sm-12 img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .cards .row .col-sm-12 h6 {
        font-size: 11px;
        font-weight: 500;
        color: var(--thead);
    }

    .cards .row .col-sm-12 h5 {
        font-size: 11px;
        font-weight: 500;
        color: var(--primary);
    }

    /* Tabs */
    .proftabs {
        margin-top: 10px;
    }

    .nav-tabs {
        border: none;
    }

    .tab-content {
        margin-top: 20px;
    }

    .profilelisthead {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .profileleft {
        background-color: var(--theadbg);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2px;
        padding: 3px;
        border-radius: 5px;
        width: 45%;
    }

    .profileright {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .profileright input {
        width: 65%;
        margin-left: 0px;
        height: 32px;
        font-size: 12px;
        padding: 5px 10px;
        border: 1px solid #eee;
        border-radius: 5px;
        background-color: var(--secondary);
        color: var(--primary);
        box-shadow: var(--box-shadow);
    }

    /* Project Porfile CSS */
    .left-content {
        border-right: 1px solid var(--input-border);
    }

    .left-content .table .lefthead {
        color: var(--label);
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 5px;
        text-transform: uppercase;
    }

    .left-content .table .leftcntnt {
        color: var(--primary);
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    /* Accordion */
    .accordion-item {
        border: none;
        background-color: transparent;
        color: var(--primary);
    }

}

@media screen and (min-width: 767px) and (max-width: 1098px) {

    .mainbdy {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 27% 72%;
        gap: 10px;
        margin-top: 10px;
        /* align-items: center; */
    }

    .row {
        --bs-gutter-x: 0rem;
    }

    .maincard {
        position: relative;
        background-color: var(--secondary);
        padding: 15px 15px 0px 15px;
        border-radius: 6px;
    }

    .lefthead {
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
    }

    .contentleft {
        border-right: 1px solid #eee;
    }

    .cardshead {
        margin-bottom: 15px;
    }

    .cardsh5 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cardsh5 h5 {
        font-size: 13px;
        font-weight: 600;
        color: var(--primary);
        text-decoration: 1px solid var(--aside-li) underline;
    }

    .cardsh5 a {
        font-size: 13px;
        color: var(--label);
        transition: var(--transition);
    }

    .cardsh5 a:hover {
        color: var(--primary);
    }

    .cards .row .profileimg {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .leftcard .col-sm-12 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .assigndetails .col-sm-12 img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .cards .row .col-sm-12 h6 {
        font-size: 8px;
        font-weight: 500;
        color: var(--thead);
    }

    .cards .row .col-sm-12 h5 {
        font-size: 8px;
        font-weight: 600;
        color: var(--primary);
    }

    /* Tabs */
    .proftabs {
        margin-top: 15px;
    }

    .nav-tabs {
        border: none;
    }

    .tab-content {
        margin-top: 15px;
    }

    .profilelisthead {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .profileleft {
        background-color: var(--theadbg);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2px;
        padding: 5px 3px;
        border-radius: 5px;
        width: 50%;
    }

    .profileright {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .profileright input {
        width: 65%;
        margin-left: 0px;
        height: 30px;
        font-size: 12px;
        padding: 5px 10px;
        border: 1px solid #eee;
        border-radius: 5px;
        background-color: var(--secondary);
        color: var(--primary);
        box-shadow: var(--box-shadow);
    }

    /* Task Porfile CSS */
    .left-content {
        border-right: 1px solid var(--input-border);
    }

    .left-content .table .lefthead {
        color: var(--label);
        font-size: 10px;
        font-weight: 500;
        margin-bottom: 5px;
        text-transform: uppercase;
    }

    .left-content .table .leftcntnt {
        color: var(--primary);
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    /* Accordion */
    .accordion-item {
        border: none;
        background-color: transparent;
        color: var(--primary);
    }

}

@media screen and (max-width: 767px) {

    .mainbdy {
        margin-top: 10px;
        display: block;
    }

    .row {
        --bs-gutter-x: 0rem !important;
    }

    .maincard {
        position: relative;
        background-color: var(--secondary);
        padding: 10px 10px 0px 10px;
        border-radius: 6px;
    }

    .lefthead {
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cardshead {
        margin-bottom: 10px;
    }

    .cardsh5 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cardsh5 h5 {
        font-size: 14px;
        font-weight: 600;
        color: var(--primary);
        text-decoration: 1px solid var(--aside-li) underline;
    }

    .cardsh5 a {
        font-size: 14px;
        color: var(--label);
        transition: var(--transition);
    }

    .cardsh5 a:hover {
        color: var(--primary);
    }

    .cards .row .profileimg {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .leftcard .col-sm-12 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .assigndetails .col-sm-12 img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .cards .row .col-sm-12 h6 {
        font-size: 12px;
        font-weight: 500;
        color: var(--thead);
    }

    .cards .row .col-sm-12 h5 {
        font-size: 12px;
        font-weight: 600;
        color: var(--primary);
    }

    /* Tabs */
    .proftabs {
        margin-top: 20px;
    }

    .nav-tabs {
        border: none;
    }

    .nav-tabs .nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tab-content {
        margin-top: 20px;
    }

    .profilelisthead {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .profileleft {
        background-color: var(--theadbg);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2px;
        padding: 3px;
        border-radius: 5px;
    }

    .profileright {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-top: 10px;
    }

    .profileright input {
        width: 100%;
        margin-left: 0px;
        height: 32px;
        font-size: 12px;
        padding: 5px 10px;
        border: 1px solid #eee;
        border-radius: 5px;
        background-color: var(--secondary);
        color: var(--primary);
        box-shadow: var(--box-shadow);
    }

    /* Project Porfile CSS */
    .left-content {
        border-right: none !important;
        border-bottom: 1px solid #888;
        margin-bottom: 15px;
        padding-right: 0px !important;
    }

    .right-content {
        margin-bottom: 15px;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .left-content .table .lefthead {
        color: var(--label);
        font-size: 10px;
        font-weight: 500;
        margin-bottom: 5px;
        text-transform: uppercase;
    }

    .left-content .table .leftcntnt {
        color: var(--primary);
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    /* Accordion */
    .accordion-item {
        border: none;
        background-color: transparent;
        color: var(--primary);
    }

}