@media screen and (min-width: 1098px) {

    .settingbuttondiv {
        display: flex;
        align-items: center;
        justify-content: end;
    }
    
    .settingleft .settingmaindiv,
    .settingright .settingmaindiv {
        border: 1px solid #eee;
        border-radius: 5px;
    }

    .settingheader {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .settingheader,
    .settingform {
        padding: 10px;
    }

    .settingheader h5 {
        font-weight: 700;
        font-size: 20px;
        color: var(--primary);
    }

    .settingheader h6 {
        font-weight: 500;
        font-size: 13px;
        color: var(--label);
    }

    .settingtable th {
        font-weight: 500;
        font-size: 12px;
        color: var(--label);
    }

    .settingtable td,
    .settingtable td h6 {
        font-weight: 600;
        font-size: 12px;
        color: var(--primary) !important;
    }

    .settingform .maindiv h5 {
        font-weight: 600;
        font-size: 16px;
        color: var(--primary);
        margin-bottom: 10px !important;
    }

    .settingform .form-check label {
        font-size: 12px;
        font-weight: 500;
        color: var(--primary);
    }
}

@media screen and (min-width: 767px) and (max-width: 1098px) {

    .settingbuttondiv {
        display: flex;
        align-items: center;
        justify-content: end;
    }
    
    .settingleft .settingmaindiv,
    .settingright .settingmaindiv {
        border: 1px solid #eee;
        border-radius: 5px;
    }

    .settingheader {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .settingheader,
    .settingform {
        padding: 10px;
    }

    .settingheader h5 {
        font-weight: 700;
        font-size: 17px;
        color: var(--primary);
    }

    .settingheader h6 {
        font-weight: 500;
        font-size: 11px;
        color: var(--label);
    }

    .settingtable th {
        font-weight: 500;
        font-size: 10px !important;
        color: var(--label);
    }

    .settingtable td,
    .settingtable td h6 {
        font-weight: 600;
        font-size: 10px !important;
        color: var(--primary) !important;
    }

    .settingform .maindiv h5 {
        font-weight: 600;
        font-size: 14px;
        color: var(--primary);
        margin-bottom: 10px !important;
    }

    .settingform .form-check label {
        font-size: 11px;
        font-weight: 500;
        color: var(--primary);
    }
}

@media screen and (max-width: 767px) {

    .settingbuttondiv {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .settingleft .settingmaindiv,
    .settingright .settingmaindiv {
        border: 1px solid #eee;
        border-radius: 5px;
    }
    
    .settingheader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .settingheader,
    .settingform {
        padding: 10px;
    }

    .settingheader h5 {
        font-weight: 700;
        font-size: 15px;
        color: var(--primary);
    }

    .settingheader h6 {
        font-weight: 500;
        font-size: 10px;
        color: var(--label);
    }

    .settingtable th {
        font-weight: 500;
        font-size: 10px !important;
        color: var(--label);
    }

    .settingtable td,
    .settingtable td h6 {
        font-weight: 600;
        font-size: 10px !important;
        color: var(--primary) !important;
    }

    .settingform .maindiv h5 {
        font-weight: 600;
        font-size: 14px;
        color: var(--primary);
        margin-bottom: 10px !important;
    }

    .settingform .form-check label {
        font-size: 11px;
        font-weight: 500;
        color: var(--primary);
    }
}